<% if params[:controller] == 'about' %>
  <div class="well">
    <h3>Location Info</h3>
    <ul>
      <li>The BookStore</li>
      <li>500 Highfield Ln</li>
      <li>Keller, TX 76248</li>
      <li>Phone: (469) 644-0673</li>
      <li>Email: dmitry.filina@gmail.com</li>
    </ul>
  </div>
<% end %>

<% if (params[:controller] == 'books' || params[:controller] == 'categories') &&
      (params[:action] == 'index' || params[:action] == 'show') %>
  <div class="list-group">
    <% @categories.each do |category| %>
      <%= link_to category.name, category_path(category.id), class: 'list-group-item' %>
    <% end %>
  </div>
<% end %>
