<h1><%= @page_title %></h1>
<p>Find me in app/views/about/index.html.erb</p>
<div class="well">
  <h3>Location Info</h3>
  <ul>
    <li>The BookStore</li>
    <li>500 Highfield Ln</li>
    <li>Keller, TX 76248</li>
    <li>Phone: (469) 644-0673</li>
    <li>Email: dmitry.filina@gmail.com</li>
  </ul>
</div>
